.card {
  display: inline-block;
  background-color: white; /* Button background color */
  border: none;
  padding: 10px 20px; /* Adjust padding for your desired size */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  text-decoration: none;
}

.sneaker-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.sneakerImage img {
  height: 45px;
  vertical-align: middle;
  /*   margin-right: 10px; */
}

.feature-Title {
  display: grid;
  place-items: center;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
}

.sneakerTitle p {
  font-family: Montserrat;
  font-size: 16px;
}

.sneakerTitle {
  margin-left: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  width: 210px;
  background-color: rgba(126, 120, 120, 0); /* Button background color */
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* Rounded corners */
  cursor: pointer;
  box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  text-decoration: none;
  /* transition: background-color 0.3s, transform 0.2s; */ /* Smooth transitions */
}

.card-container:hover {
  background-color: goldenrod;
  color: white;
  transform: scale(1.05);
}
