.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Set a z-index value */
  object-fit: cover;
}

.footer {
  position: relative; /* Ensure it's relatively positioned */
  z-index: 2; /* Set a higher z-index value */
}
