.header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 72px;
  margin-bottom: 2rem;
  padding: 0px 10px;
}

.video-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-section {
  position: relative;
  margin-bottom: 2rem;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  video {
    display: none;
  }
}
