@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #ffac47;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6.7px),
    #0000 calc(100% - 5.6px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 14.6px),
    #000 calc(100% - 13.4px)
  );
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 11.2px, 11.2px 100%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

.sneaker-Container {
  padding: 2rem 4rem;
}
.sneaker-Container h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #ffd814;
  border: 1px solid #fcd200;
  font-size: 13px;
  height: 31px;
  padding: 0 11px;
  text-align: center;
  width: 100%;
  min-width: 200px;
  font-weight: 500;
  color: #0f1111;
  letter-spacing: 0.5px;
}
.btn:hover {
  background: #f7ca00;
  border-color: #f2c200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.product img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.product h3 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.product-Description {
  margin: 6px 0px;
}

.product .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .details .price {
  font-size: 20px;
  font-weight: 600;
}

.swiper-container {
}
@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}
